.dashboards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin-bottom: 80px;
    color: white;
    gap: 100px;
}

.dash-container-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 1440px;
    gap:20px;
}

.type-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: calc(50% - 10px);
    min-width: 300px;
    max-width: 45%;
    height: 400px;
    padding: 10px;
}

@media (max-width: 800px) {
    .type-chart {
        width: 100%;
    }

    .dashboards-container,
    .dash-container-group {
        gap: 60px;
    }

    .type-chart {
        height: 300px;
    }

}

canvas {
    width: 100%;
    max-height: 100%;
}
